<article class="post">

	  
	<%- partial('_partial/_post/header',{post: page}) %> 


	  <div class="post-content slideDownMin">

		<% if (page.banner && page.banner.length){ %>
			
				<div class="banner-brg"  style="background-image:url(<%- url_for(page.banner[0]) %>")>
			    	<img class="banner-img" src="<%- url_for(page.banner[0]) %>">
			    </div>	

		<% } else if (page.photos && page.photos.length){ %>	   

	    <%}%>


	  <%- page.content %>  
	  </div>     
	  

	<%- partial('_partial/_post/footer',{post: page}) %> 
	<%- partial('_partial/_post/comment') %>	

</article>

<%- js('js/post') %>